@use 'base/variables' as v;
@use 'base/mixins' as m;

.busqueda{
    background-color: v.$grisClaro;
    padding: 5rem 0;

    &__heading{
        text-align: center;
        margin:  0;
        color: v.$gris;
    }
}

.formulario{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @include m.tablet {
        @include m.grid(4,3rem);
    }

    &__campo{
        padding: .5rem;
        outline: none;
        border: 1px solid lighten(v.$gris, 50%);
        border-radius: 1rem;
    }
    &__submit{
        @include m.boton(v.$primario, v.$blanco);
        border-radius: 1rem;
        margin-top: 0;
    }
}